.nfl-breadcrumb {
        padding:10px 15px;
        font-family:Helvetica; 
        font-style:normal;
    }
    .nfl-form-panel {
        border:0px !Important; 
        box-shadow:none !Important;
    }
        .nfl-form-panel .nfl-panel-heading {
            color:inherit; 
            background-color:inherit; 
            border-color:inherit; 
            border:0px;
        }
            .nfl-form-panel .nfl-panel-heading .nfl-row {
                height:50px;
            }
                .nfl-form-panel .nfl-panel-heading .nfl-row h3 {
                    display:block; 
                    margin-top:0px; 
                    margin-bottom:10px; 
                    font-family:EndzoneSlab; 
                    font-size:42px; 
                    font-weight:bold; 
                    font-style:normal;
                }
                .nfl-form-panel .nfl-panel-heading .nfl-row .sortSelect {
                    margin-top:10px; 
                    margin-bottom:10px;
                    font-size:20px;     
                    font-family:Helvetica; 
                    font-style:normal;
                }
            .nfl-form-panel .nfl-description {
                padding-left:15px;
                margin-bottom: 30px;
            }
    .nfl-item-box {
        border-color:#ccc; 
        box-shadow:none; 
        width:95%; 
        margin:15px auto;
    }
        .nfl-item-box .nfl-Picture {
            margin:25px;
            line-height:160px;
        }
    .nfl-category-ash-box {
        margin-top:50px; 
        margin-bottom:10px; 
        height:30px;
    }
        .nfl-category-ash-box .nfl-productTitle {
            font-size:20px;     
            font-family:Helvetica; 
            font-style:normal;
        }
    .nfl-otherDescription {
        padding:10px; 
        width:95%; 
        margin:10px auto;
        font-size:20px !Important;
    }